body {
    background-color: #F5FEF5;
    font-family: 'Verdana';
    margin: 0;
    padding: 0;
    height: 100vh;
}
.titulo_header {
    margin: 0;
    font-weight: 500;
    text-align: center;
    background-color: #305c47;
}
.container_cadastro {
    margin-top: 50px;
    padding-inline: 33rem;
    text-align: center;
}
input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    display: block;
    margin: 20px 10px 20px 10px;
    padding: 10px;
}
button {
    cursor: pointer;
    display: block;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #305c47;
    margin: 10px 75px;
}
a {
    text-decoration: none;
}